body {
  color: #215324;
  font-weight: bold;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  overflow-x: hidden;
} 
main {
      display:grid;
      grid-gap: 10px;
      grid-template-columns: 3fr 1fr;   
      grid-template-areas:"h h h"
                          "n n n"
                          "a a j"
                          "f f f";
      margin: auto;
      background-color: transparent
}
 
header {
  grid-area:h;
  background-image: url('kepek/footer.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);                         
}
header h1{
  color: #1bd646;
  text-shadow: 0 0 10px rgb(9, 255, 0);
  font-size: 3rem;
  margin: 50px;
  text-align: center;
}
.header-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
article {
    grid-area:a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.jobb {
    grid-area:j;
}

footer{
  grid-area: f;
  color: #1bd646;
  text-align: center;
  background-image: url('kepek/footer.png');
  width: 100%;
  font-size: 20px;
}
.suli{
  width:600px;
  height:450px;
  border:0;
  border-radius: 10px;
}
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.card h2{
  border-bottom: 2px solid #215324;
}
a{
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}
a:hover{
  background-color: #218838;
}
#sponsor{
  display: grid;
  grid-template-columns:repeat(4, auto);
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  width: 300px;
  margin: auto;
}
#sponsor img{
  height: 50px;
  width: auto;
  display: block;
  margin: 0;
}
@media screen and (max-width: 800px) {
  article {
      grid-template-columns: 1fr;
  }
  article {
      padding: 10px;
  }
  .suli {
        width: 100%;
        height: auto;
    }
}

